<ion-header>
  <ion-navbar>
    <button menuToggle ion-button>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nouvelle tâche</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- Début : Choix du type de tâche -->
  <div *ngIf="state == 1">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h5>Type de tâche</h5>
          <p>Veuillez choisir le type de tâche :</p>
          <ion-item>
          <ion-label color="primary">Type de tâche</ion-label>
          <ion-select multiple="false" (ionChange)="chooseType($event)" >
            <ion-option *ngFor="let type of taskTypes" value="{{type.pk}}">{{type.name}}</ion-option>
          </ion-select>
        </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- Fin : Choix du type de tâche -->

  <!-- Début : Formulaire de la tâche -->
  <div *ngIf="state == 2">
    <h5>Informations de la tâche</h5>
    <form-task [taskToAdd]="taskToAdd" [taskType]="taskType"></form-task>
    <ion-grid><ion-row><ion-col>
      <button ion-button block outline color="danger" (click)="reset()">Annuler</button>
    </ion-col></ion-row></ion-grid>
  </div>
  <!-- Fin : Formulaire de la tâche -->
</ion-content>
