<ion-header>
  <ion-navbar>
    <button menuToggle ion-button>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{date | amDateFormat:'LL'}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="taskDate">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item text-center>
          <h1 style="color:#488aff">{{taskDate.task.title}}</h1>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!taskDate.active">
      <ion-col>
        <h5 style="color:#f53d3d">Cette tâche est annulée pour cette date</h5>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="taskDate.task.description">
      <ion-col>
        <ion-label stacked color="primary">Description</ion-label>
        <p [outerHTML] ="taskDate.task.description | replaceLineBreaks" ></p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="taskDate.task.resident.length != 0">
      <ion-col>
        <ion-label stacked color="primary">Résident(s)</ion-label>
        <ion-badge margin-right *ngFor="let resident of taskDate.task.resident">{{resident.firstname}} {{resident.lastname}}</ion-badge>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="taskDate.task.room.length != 0">
      <ion-col>
        <ion-label stacked color="primary">Chambre(s)</ion-label>
        <ion-badge margin-right color="dark" *ngFor="let room of taskDate.task.room">{{room.title}}</ion-badge>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="taskDate.time">
      <ion-col>
        <ion-label stacked color="primary">Heure</ion-label>
        <span>{{taskDate.time}}</span>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="taskDate.task.need_someone">
      <ion-col>
        <ion-label stacked color="primary">Qui s'en charge</ion-label>
        <ion-badge *ngIf="taskDate.taker" color="secondary" >{{taskDate.taker.username}}</ion-badge>
        <span *ngIf="!taskDate.taker">Il faut une personne ! </span><button small ion-button *ngIf="!taskDate.taker" (click)="take()" color="primary"><ion-icon name="hand"></ion-icon></button>
      </ion-col>
    </ion-row>
    <!-- Répétition -->
    <ion-row>
      <ion-col>
        <ion-item>
          <h2>Répétition dans le temps</h2>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="taskDate.eventType == 0 && !taskDate.parent">
        <span>Tâche unique pour le {{taskDate.start_date | amDateFormat:'LL'}}</span>
      </ion-col>
      <ion-col *ngIf="taskDate.eventType == 0 && taskDate.parent">
        <span>Exception</span>
      </ion-col>
      <ion-col *ngIf="taskDate.eventType == 1">
        <div *ngIf="taskDate.periodicType == 0">
          Tâche quotidienne, à partir du {{taskDate.start_date | amDateFormat:'LL'}}
          <span *ngIf="taskDate.end_date"> jusqu'au {{taskDate.end_date | amDateFormat:'LL'}}</span>.
        </div>
        <div *ngIf="taskDate.periodicType == 1">
          Tache hebdomadaire, à partir du {{taskDate.start_date | amDateFormat:'LL'}}
          <span *ngIf="taskDate.end_date"> jusqu'au {{taskDate.end_date | amDateFormat:'LL'}}</span>.

        </div>
        <div *ngIf="taskDate.periodicType == 2">

        </div>
        <div *ngIf="taskDate.periodicType == 3">

        </div>
      </ion-col>
    </ion-row>
    <!-- Destinataires -->
    <ion-row>
      <ion-col>
        <ion-item>
          <h2>Destinataire(s)</h2>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="taskDate.task.receiver_user.length != 0">
        <ion-label stacked color="primary">Employé(s)</ion-label>
        <ion-badge margin-right color="danger" *ngFor="let user of taskDate.task.receiver_user">{{user.username}}</ion-badge>
      </ion-col>
      <ion-col *ngIf="taskDate.task.copyreceiver_user.length != 0">
        <ion-label stacked color="primary">Employé(s) en copie</ion-label>
        <ion-badge margin-right color="light" *ngFor="let user of taskDate.task.copyreceiver_user">{{user.username}}</ion-badge>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="taskDate.task.receiver_group.length != 0">
        <ion-label stacked color="primary">Secteur(s)</ion-label>
        <ion-badge margin-right color="danger" *ngFor="let sector of taskDate.task.receiver_group">{{sector.title}}</ion-badge>
      </ion-col>
      <ion-col *ngIf="taskDate.task.copyreceiver_group.length != 0">
        <ion-label stacked color="primary">Secteur(s) en copie</ion-label>
        <ion-badge margin-right color="light" *ngFor="let sector of taskDate.task.copyreceiver_group">{{sector.title}}</ion-badge>
      </ion-col>
    </ion-row>
    <!-- Commentaires -->
    <ion-row>
      <ion-col>
        <ion-item>
          <h2>Commentaire(s)</h2>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let comment of taskDate.comments">
      <ion-col>
        <ion-card>
          <ion-item>
            <h2>{{comment.author.username}}</h2>
            <p>{{comment.created_at | amTimeAgo}}</p>
          </ion-item>
          <ion-card-content>
            <p>{{comment.text}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="taskDate.comments.length == 0">
      <ion-col>
        <p>Il n'y a pas de commentaires</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form *ngIf="taskDate" [formGroup]="myForm" novalidate (ngSubmit)="addComment(myForm.value, myForm.valid)">
          <ion-item>
            <ion-textarea formControlName="text" rows="4" placeholder="Entrer un commentaire"></ion-textarea>
          </ion-item>
          <button type="submit" [disabled]="!myForm.valid" ion-button block color="secondary">Ajouter votre commentaire</button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<ion-fab *ngIf="taskDate" bottom right>
 <button *ngIf="taskDate.active" ion-fab mini color="secondary" (click)="openModif()"><ion-icon name="color-wand"></ion-icon></button>
 <button *ngIf="taskDate.active" ion-fab mini color="danger" (click)="openStop()"><ion-icon name="trash"></ion-icon></button>
  <button *ngIf="!taskDate.active" ion-fab mini color="secondary" (click)="activate()"><ion-icon name="power"></ion-icon></button>
</ion-fab>
</ion-content>
