<ion-header>
  <ion-navbar>
    <button menuToggle ion-button>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Liste des résidents</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="primary" stacked>Trier par</ion-label>
      <ion-select [(ngModel)]="selectedSort" (ionChange)="onSort($event)">
        <ion-option *ngFor="let sort of tabSort; let i = index" value="{{i}}">{{sort[0]}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-label color="primary" margin-left stacked>Liste</ion-label>
    <ion-list>
      <button ion-item *ngFor="let resident of residents" (click)="onSelect(resident)">
        <h2>{{resident.lastname}} {{resident.firstname}}</h2>
        <p *ngIf="resident.room">{{resident.room.title}}</p>
      </button>
    </ion-list>
  </ion-list>
</ion-content>
