<h3>Ajout d'une tâche</h3>
<hr/>
<div *ngIf="state == 1">
  <div class="row justify-content-center">
    <div class="col-12">
      <h5>Etape 1 | Type de tâche</h5>
      <p>Veuillez choisir le type de tâche :</p>
      <select class="custom-select" [ngModel]="selectedType" (ngModelChange)="chooseType($event)">
        <option selected="selected" disabled="disabled" [ngValue]=-1>Choisir un type</option>
        <option *ngFor="let type of taskTypes" [ngValue]="type.pk">{{type.name}}</option>
      </select>
      <p *ngIf="!isASectorSelected" style="color:#c0392b">
        Veuillez choisir un secteur dans votre profil pour pouvoir ajouter une tâche !
      </p>
    </div>
  </div>
</div>
<div *ngIf="state == 2">
  <div class="row justify-content-center">
    <div class="col-12">
      <h5>Etape 2 | Informations de la tâche</h5>
      <form-task [taskToAdd]="taskToAdd" [taskType]="taskType"></form-task>
      <button class="btn btn-danger" (click)="reset()">Annuler</button>
    </div>
  </div>
</div>
