<ion-header>
  <ion-navbar>
    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Accueil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="ionContent" class="has-header has-subheader">
  <ion-grid>
    <ion-row>
      <ion-col>
        <my-date-picker [options]="myDatePickerOptions" [selDate]="selDate" (dateChanged)="onDateChanged($event)"></my-date-picker>
      </ion-col>
    </ion-row>
    <div *ngIf="tasks">
      <ion-row *ngFor="let taskDate of tasks">
        <ion-col>
          <task-card [taskDate]="taskDate" (click)="onClickTask(taskDate.pk)"></task-card>
        </ion-col>
      </ion-row>
      <ion-row [style.display]="tasks.length == 0 ? 'block' : 'none'">
        <ion-col>
          <p style="text-align:center">Aucune tâche pour cette date.</p>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
