<div class="card cardTask" [class.cardNotActive]="!taskDate.active">
    <!--Card content-->
    <div class="card-block">
        <!--Title-->
        <h4 class="card-title">{{taskDate.task.title}}</h4>
        <div *ngIf="taskDate.active">
          <!--Text-->
          <p class="card-text" *ngIf="taskDate.task.description">
            {{taskDate.task.description | truncate : 30}}
          </p>
          <hr/>
          <div *ngIf="taskDate.time">
            <p><b>Heure</b> : {{taskDate.time.split(':')[0]+'h'+taskDate.time.split(':')[1]}}</p>
          </div>
          <div *ngIf="taskDate.task.resident.length > 0" >
            <label style="display:block;margin-bottom:2px;" color="#488aff">Résident(s)</label>
            <span class="badge badge-primary mr-1" *ngFor="let resident of taskDate.task.resident">{{resident.firstname}} {{resident.lastname}}</span>
          </div>
          <div *ngIf="taskDate.task.room.length > 0">
              <label color="#488aff">Salle(s)</label><br/>
              <span class="badge badge-primary mr-1" *ngFor="let room of taskDate.task.room">{{room.title}}</span>
          </div>
        </div>
    </div>
    <!--/.Card content-->
</div>
