<div class="col-12 col-md-6 offset-md-3">
    <h2>Résidents</h2>
    <hr/>
    <label>Trier par</label>
    <select *ngIf="tabSort != []" class="custom-select" [(ngModel)]="selectedSort" (ngModelChange)="onSort($event)">
      <option *ngFor="let sort of tabSort; let i = index" [ngValue]=i>{{sort[0]}}</option>
    </select>
    <h5 class="mt-2">Liste</h5>
    <div>
        <div class="list-group">
          <a *ngFor="let resident of residents" (click)="onSelect(resident)" class="list-group-item list-group-item-action">
            <div class="d-flex flex-column">
              <span>
                {{resident.firstname}} {{resident.lastname}}
              </span>
              <small class="text-muted" *ngIf="resident.room">
                {{resident.room.title}}
              </small>
            </div>
          </a>
        </div>
    </div>
</div>
