{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'app_resident_list' %}">Resident Listing</a></p>
<table class="table">
<tr><td>firstname</td><td>{{ object.firstname }}</td></tr>
<tr><td>lastname</td><td>{{ object.lastname }}</td></tr>
<tr><td>birthdate</td><td>{{ object.birthdate }}</td></tr>
<tr><td>comment</td><td>{{ object.comment }}</td></tr>
<tr><td>allergies</td><td>{{ object.allergies }}</td></tr>
<tr><td>medications</td><td>{{ object.medications }}</td></tr>
<tr><td>contact_name</td><td>{{ object.contact_name }}</td></tr>
<tr><td>contact_phone</td><td>{{ object.contact_phone }}</td></tr>
<tr><td>active</td><td>{{ object.active }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Resident</a>

{% endblock %}