{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'app_resident_list' %}">Resident Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>firstname</td>
    <td>lastname</td>
    <td>birthdate</td>
    <td>comment</td>
    <td>allergies</td>
    <td>medications</td>
    <td>contact_name</td>
    <td>contact_phone</td>
    <td>active</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.firstname }}</td>
    <td>{{ object.lastname }}</td>
    <td>{{ object.birthdate }}</td>
    <td>{{ object.comment }}</td>
    <td>{{ object.allergies }}</td>
    <td>{{ object.medications }}</td>
    <td>{{ object.contact_name }}</td>
    <td>{{ object.contact_phone }}</td>
    <td>{{ object.active }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'app_resident_create' %}">Create new Resident</a>
{% endblock %}