{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'app_room_list' %}">Room Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>title</td>
    <td>number</td>
    <td>floor</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.title }}</td>
    <td>{{ object.number }}</td>
    <td>{{ object.floor }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'app_room_create' %}">Create new Room</a>
{% endblock %}