{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'app_task_list' %}">Task Listing</a></p>
<table class="table">
<tr><td>title</td><td>{{ object.title }}</td></tr>
<tr><td>description</td><td>{{ object.description }}</td></tr>
<tr><td>created_at</td><td>{{ object.created_at }}</td></tr>
<tr><td>updated_at</td><td>{{ object.updated_at }}</td></tr>
<tr><td>need_someone</td><td>{{ object.need_someone }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Task</a>

{% endblock %}