{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'app_tasktype_list' %}">TaskType Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>default_title</td><td>{{ object.default_title }}</td></tr>
<tr><td>change_title</td><td>{{ object.change_title }}</td></tr>
<tr><td>change_description</td><td>{{ object.change_description }}</td></tr>
<tr><td>change_resident</td><td>{{ object.change_resident }}</td></tr>
<tr><td>change_room</td><td>{{ object.change_room }}</td></tr>
<tr><td>change_receiver_user</td><td>{{ object.change_receiver_user }}</td></tr>
<tr><td>change_receiver_group</td><td>{{ object.change_receiver_group }}</td></tr>
<tr><td>change_copyreceiver_user</td><td>{{ object.change_copyreceiver_user }}</td></tr>
<tr><td>change_copyreceiver_group</td><td>{{ object.change_copyreceiver_group }}</td></tr>
<tr><td>default_need_someone</td><td>{{ object.default_need_someone }}</td></tr>
<tr><td>change_need_someone</td><td>{{ object.change_need_someone }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit TaskType</a>

{% endblock %}