<ion-card [class.cardTask]="taskDate.active" [class.cardNotActive]="!taskDate.active">
  <ion-card-content>
    <ion-card-title style="color:#488aff">
      {{taskDate.task.title}}
    </ion-card-title>
    <div *ngIf="taskDate.active">
    <p *ngIf="taskDate.task.description">
      {{taskDate.task.description | truncate : 30}}
    </p>
    <div *ngIf="taskDate.time">
      <hr/>
      <p><b>Heure</b> : {{taskDate.time.split(':')[0]+'h'+taskDate.time.split(':')[1]}}</p>
    </div>
    <div *ngIf="taskDate.task.resident" style="padding:5px">
        <ion-badge margin-right *ngFor="let resident of taskDate.task.resident">{{resident.firstname}} {{resident.lastname}}</ion-badge>
    </div>
    <div *ngIf="taskDate.task.room" style="padding:5px">
        <ion-badge margin-right color="danger" *ngFor="let room of taskDate.task.room">{{room.title}}</ion-badge>
    </div>
    <hr/>
    </div>
  </ion-card-content>
  <div *ngIf="taskDate.active">
  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>{{taskDate.comments.length}}</div>
      </button>
    </ion-col>
    <ion-col *ngIf="taskDate.task.need_someone">
      <ion-item *ngIf="taskDate.taker" clear small >
        <ion-note style="color: #32db64">
          {{taskDate.taker.username}} s'en charge
        </ion-note>
      </ion-item>
      <ion-item *ngIf="!taskDate.taker" clear small >
        <ion-note style="color:#f53d3d">
          Il faut quelqu'un !
        </ion-note>
      </ion-item>
    </ion-col>
  </ion-row>
</div>
</ion-card>
